extends layout

include mixins/_categories
include mixins/_item
include mixins/_categorySidebar

block sidebar
  +categorySidebar()

block content
  h1 #{title} - #{h.moment().utc().format("MMMM")}, #{h.moment().utc().format("YYYY")}
  h3 #{h.formatPrice(itemSum.sum)}/#{h.formatPrice(category.amount)}

  //- Number of transactions this month

  .filter-options
    .filter
    //- Date

    .search
      .search-bar
        input(type="text" placeholder="Search")

  each entry in category.entries
    +item(entry)




