extends layout

include mixins/_categorySidebar

block sidebar
  //- +categorySidebar()

block content
  div.grid-cell.w100.container.category-list
    p this is the category landing page
    a.btn(href="/category/add") Add Category
    ul.grid
      each category, index in categories
        li.grid-cell.one-third.category
          a(href=`/category/${category.slug}`) 
            h3 #{category.title} 
            - const itemSum = itemArr[index][1].sum || 0     
            p (#{h.formatPrice(itemSum)} / #{h.formatPrice(category.amount)})
            - const numTransactions = itemArr[index][0].count || 0   
            p #{numTransactions} Transaction#{numTransactions === 1 ? '' : 's'}
            
            
          

