extends layout

include mixins/_categories
include mixins/_item
include mixins/_categorySidebar

block content
  .back-bar
    a(href="/categories") See All Categories
  .container.grid-cell.w100.category
    .budget-title
      h1 #{title}

      != h.dump(oldestItem)

    .grid.category-details
      .category-items.grid-cell.w40
        .budget-meta 
          .month-details
            h3 #{h.moment().utc().format("MMMM")}, #{h.moment().utc().format("YYYY")}
            p #{numItems.count} transactions this month
          p
            span.budget-spent #{h.formatPrice(itemSum.sum)} 
            | of 
            span.budget-goal #{h.formatPrice(category.amount)}
        .filter-options.grid
          .filter.grid-cell
            select.datepicker
              option(value="") Choose a month

          .search.grid-cell
            .search-bar
              input(type="text" placeholder="Search")

        - const entries = itemsByCatAndMonth
        - entries.sort(function(a, b) { return b.date - a.date })
        each entry in entries
          +item(entry)

      .category-charts.grid-cell.w50
        p charts go here




