extends layout

include mixins/_categorySidebar
include mixins/_item

block content
  .container.user-dashboard
    .budget-meta
      h1 #{user.name}'s Dashboard
      p Income: #{h.formatPrice(user.income)}
      p Income per month: #{h.formatPrice(user.income/12)}
      p Budgeted per month #{h.formatPrice(budgetedPerMonth.sum)}
      p Spent per month: #{h.formatPrice(spentPerMonth.sum)}
      p.budget-meta.grid-cell
        span.budget-spent #{h.formatPrice(spentPerMonth.sum)}
        |  of 
        span.budget-goal #{h.formatPrice(budgetedPerMonth.sum)}
      - const percentSpent = (spentPerMonth.sum / budgetedPerMonth.sum) * 100
      .progress-bar
        .progress-fill(style=`width: ${percentSpent}%`)
      p.budget-percent 
        span #{percentSpent.toFixed(2)}%
        |  of monthly budget used


    .grid.dashboard-grid
      .grid-cell.w30.dashboard-categories
        h3 Top Categories for #{month}, #{year} 
        p Filter By:
        select(name="category-type-filter")
          option(value="titleDesc") Name A-Z
          option(value="titleAsc") Name Z-A
          //- Sort by amount spent per category
          option(value="spentDesc") Budget High to Low
          option(value="spent-asc") Budget Low to High
          //- Sort by number of transactions per category
          option(value="transaction-desc") Number of Transactions Most to Fewest
          option(value="transaction-asc") Number of Transactions Fewest to Most
        +categorySidebar(categories)
        a.btn(href="/categories") View All Categories
      .grid-cell.w30
        h3 Recent Items
        each item in recentItems
          +item(item)
      .grid-cell.w30
        p Line chart showing total amount spent per month over a year?