doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/dist/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body.grid
    block header
      header.grid-cell.w100
        .logo-section.grid-cell.w35
          a(href="/") Logo
        .site-title.grid-cell
          h1= h.siteName
        nav.grid-cell.w35
          .menu
            ul.menu-items
              each item in h.menu
                li.menu-item
                  a(href=item.slug)= item.title
          .mobile-menu
            .mobile-menu-toggle
              a(href="#" class="mobile-menu-toggle")
                .icon
                  .bar.top
                  .bar.middle
                  .bar.bottom
      ul.mobile-menu-items
        each item in h.menu
          li.menu-item
            a(href=item.slug)= item.title

    block sidebar
    block content
      div.body.grid-cell
    block scripts
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="/javascripts/vendor/pikaday.js"></script>
    script(src="/javascripts/dist/app.min.js")
    script.
      if (document.querySelector('.datepicker')) {
        const oldestItemDate = '!{oldestItemDate}';
        const newestItemDate = '!{newestItemDate}';

        const picker = new Pikaday({ 
          field: document.querySelector('.datepicker'),
          minDate: moment(oldestItemDate).toDate(),
          maxDate: moment(newestItemDate).toDate(),
          onSelect: function() {
            document.querySelector('.datepicker').innerHTML = this.getMoment().format('MMMM YYYY');
            window.location = `${window.location.href.split('?')[0]}?month=${this.getMoment().month()+1}&year=${this.getMoment().year()}`;
          }
        });
      }
      
