doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/dist/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body.grid
    block header
      header.grid-cell.w100
        .logo-section.grid-cell.w35
          a(href="/")= h.siteName
        - const loggedIn = (user ? 'w35' : 'w20')
        nav(class=`grid-cell ${loggedIn}`)
          .menu
            ul.menu-items
              if user
                each item in h.userMenu
                  li.menu-item
                    a(href=item.slug)= item.title
              else
                each item in h.generalMenu
                  li.menu-item
                    a(href=item.slug)= item.title
          .mobile-menu
            .mobile-menu-toggle
              a(href="#" class="mobile-menu-toggle")
                .icon
                  .bar.top
                  .bar.middle
                  .bar.bottom
      ul.mobile-menu-items
        if user
          each item in h.userMenu
            li.menu-item
              a(href=item.slug)= item.title
        else
          each item in h.generalMenu
            li.menu-item
              a(href=item.slug)= item.title
    block messages
      if locals.flashes
        .container
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash-${category}`)
                  p.flash_text!= message
                  button.flash_remove(onClick="this.parentElement.remove()") &times;

    block sidebar
    block content
      div.body.grid-cell
    block footer
      footer.grid
        .container
          p &copy; Copyright #{(new Date()).getFullYear()}, David Saunders 
    block scripts
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="/javascripts/vendor/pikaday.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    script(src="/javascripts/dist/app.min.js")
    script.

      if (document.querySelector('#categoryChart')) {
        const category = `#{slug}`
        const year = `#{year}`;
        yearGraphs(category, year)
      }

      if (document.querySelector('#categoryPieChart')) {
        const category = `#{slug}`
        const year = `#{year}`;
        monthGraphs(category, year)
      }

      if (document.querySelector('#dashboardChart')) {
        loadAllItems(`#{year}`)
      }
      
      if (document.querySelector('.datepicker')) {
        const month = '!{month}';
        const monthNum = moment().month(month).format('M');
        console.log(monthNum);
        const year = '!{year}';
        const yearNum = moment().year(year).format('YYYY');
        const numItems = '!{numItems}';
        const oldestItemDate = '!{oldestItemDate}';
        const newestItemDate = '!{newestItemDate}';

        const picker = new Pikaday({ 
          field: document.querySelector('.datepicker'),
          defaultDate: moment([parseInt(yearNum), monthNum-1]).toDate(),
          setDefaultDate: true,
          minDate: moment(oldestItemDate).toDate(),
          maxDate: moment().endOf('month').toDate(), //- Replace with next month
          onDraw: function() {
            const month = document.querySelector('.pika-label:first-of-type select');
            const year = document.querySelector('.pika-label:last-of-type select');

            if ((parseInt(month.value) + 1 === parseInt(monthNum)) && (year.value === yearNum)) {
              return;
            } else {
              window.location = `${window.location.href.split('?')[0]}?month=${parseInt(month.value) + 1}&year=${year.value}`;
            }
          }
        });
      }

      
