mixin categories()
  ul.grid
    each category, index in categories
      li.grid-cell.w30.category
        .category-top
          .category-title.grid-cell
            h4 #{category.title}
            - const numTransactions = itemArr[index][0].count || 0   
            p #{numTransactions} Transaction#{numTransactions === 1 ? '' : 's'}
          - const itemSum = itemArr[index][1].sum || 0     
          - const percentSpent = (itemSum / category.amount) * 100
          p.budget-meta.grid-cell
            span.budget-spent #{h.formatPrice(itemSum)}
            |  of 
            span.budget-goal #{h.formatPrice(category.amount)}
        .progress-bar
          .progress-fill(style=`width: ${percentSpent}%`)
        p.budget-percent #{percentSpent.toFixed(2)}% of budget used
        .btn-row
          a.btn(href=`/category/${category.slug}?month=${monthNum}&year=${year}`) View
          //- if user
          a.btn(href=`/category/${category.slug}/edit`) Edit
          