mixin categorySidebar(category = {})
  aside.grid-cell.w30
    ul.category-list
      each category, index in categories
        - const itemSum = itemArr[index][1].sum || 0  
        li
          a(href=`/category/${category.slug}`) 
            h5 #{category.title} 
            span.budget-spent #{h.formatPrice(itemSum)}
            |  of 
            span.budget-goal #{h.formatPrice(category.amount)}
          a.icon(href=`/category/${category.slug}/edit` title="Edit") 
            != h.icon('edit')