mixin item(item = {})
  .item.grid.grid-cell
    .item-meta.grid-cell
      h5.item-title= item.title
      p.item-date= h.moment(item.date).utc().format("MMM D, YYYY")
    .item-price.grid-cell
      p.price -#{h.formatPrice(item.amount)}
    .item-actions.grid-cell
      a(href=`/add/${item._id}` title="Edit" class="icon-edit") 
        != h.icon('edit')
      a(href=`/delete/${item._id}` title="Delete" class="icon-delete" onclick="return confirm('Are you sure you want to delete this item?');")
        != h.icon('delete')