mixin item(item = {})
  .item
    p= h.moment(item.date).utc().format("MM/DD/YY")
    p= item.title
    p #{h.formatPrice(item.amount)}
    .item-actions
      a(href=`/add/${item._id}` title="Edit" class="icon-edit") 
        != h.icon('edit')
      a(href=`/delete/${item._id}` title="Delete" class="icon-delete")
        != h.icon('delete')

//- TODO - Add color border designated income or expense 