mixin itemForm(item={})
  pre= h.dump(item)
  pre= h.dump(item.receipt)
  form(action=`/add/${item._id || ''}` method="POST" class="itemForm grid" enctype="multipart/form-data")
    .form-group.grid-cell.w48
      input(type="text" name="title" value=item.title required)
      label(for="title") Item*
    .form-group.grid-cell.w48.amount-field
      input(type="number" name="amount" value=(item.amount ? (item.amount).toFixed(2) : item.amount) step=".01" min="0.00" required)
      label(for="amount") Amount*
    .form-group.grid-cell.w48
      input(type="date" name="date" value=h.moment(item.date).utc().format("YYYY-MM-DD") required)
      label(for="date") Date*
    .form-group.grid-cell.w48
      select.has-value(name="category" required)
        option(value="") Select a Category
        each category in categoryList
          option(value=category._id selected=((String(category._id) === (String(`${item.category}`)) || (String(category._id) === `${referrer}`))))= category.title
      label(for="category") Category*
    .form-group.grid-cell.w48.has-value
      input(type="file" name="receipt" id="receipt" accept="image/gif, image/png, image/jpeg")
      if item.receipt
        img(src=`/images/uploads/${item.receipt}`, alt=item.title width=600) 
      label(for="receipt") Receipt
    .form-group.grid-cell.w100
      textarea(name="description", cols="30", rows="10") #{item.description}
      label(for="description") Description
    input(type="submit" value="Submit")